<div align="center" >
    <em>'the artist creates a structure ... that holds open contemplative space against the pressure of habit, familiarity, and distraction that constantly threaten to close it.ʼ</em></div><br/>
<div align="right">- Jenny Odell (2019)</div><br/>
<div align="left"><p>This installation has finished now, but you do not need a physical structure to stop and listen.</p>
<p>We encourage you to take a moment, wherever you are, and to stop. Take a deep breath. And listen to everything around you, actively, and deeply. To find all the threads of sound and follow them, to imagine, and to slow down.</p></div>

<br />
<hr />
<br />
<p>Stop, Listen, was a public sound art installation for Banyule City Council by <a href="https://www.vgiles.net" target="_blank">Vincent</a> <a href="https://www.faultycat.com.au" target="_blank">Giles</a> and <a href="https://www.alicebennett.net" target="_blank">Alice Bennett</a></p>
<p>This installation has ended now, and created rich conversation around the importance of the environment, and how listening has lost some significance in the current age.</p>
<p></p>
