<div align="center" >
    <span class="italic">'the artist creates a structure ... that holds open contemplative space against the pressure of habit, familiarity, and distraction that constantly threaten to close it.ʼ</span></div>
<div align="right">- Jenny Odell (2019)</div>
<div align="left">Take time for yourself to stop, and to listen, and to hear or imagine the subtle changes to perception that these structures - so out of place - produce.</div>

<br />
<hr />
<br />
Stop, Listen, is a public art installation for Banyule City Council by <a href="https://www.vgiles.net" target="_blank">Vincent</a> <a href="https://www.faultycat.com.au" target="_blank">Giles</a> and <a href="https://www.alicebennett.net" target="_blank">Alice Bennett</a>