<div align="center" >
    <em>'the artist creates a structure ... that holds open contemplative space against the pressure of habit, familiarity, and distraction that constantly threaten to close it.ʼ</em></div><br/>
<div align="right">- Jenny Odell (2019)</div><br/>
<div align="left"><p>These structures provide a space for contemplation. They are placed so as to block out the sound behind them while subtly amplifying and transforming the sound in front. The structures also do interesting things to loud sounds projected at them from a distance, bouncing them around in interesting ways. To enjoy them the most, stand inside the structure and face out, close your eyes, and listen. As Jenny Odell says, open a contemplative space.</p>
<p>There are two sites. One is at <a href="https://goo.gl/maps/rBysZ5mk7AkitU5u5">Warringal Parklands</a> in Viewbank (right on the edge of Heidelberg), south of the Old Shire Offices. These two structures face towards the river. The second site is in <a href="https://goo.gl/maps/xWqx3xAWTF9EVMNn7">Yallambie Park</a>, facing towards the field and river. Please follow the links to Google Maps to find the locations.</p></div>

<br />
<hr />
<br />
<p>Stop, Listen, is a public sound art installation for Banyule City Council by <a href="https://www.vgiles.net" target="_blank">Vincent</a> <a href="https://www.faultycat.com.au" target="_blank">Giles</a> and <a href="https://www.alicebennett.net" target="_blank">Alice Bennett</a></p>
<p>If you would like to leave a comment about your experience, please <a href="https://forms.gle/a1x9ZeWUZzb5NYCDA">follow this link.</a></p>
